* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 39, 39);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

p {
    color: rgb(241, 241, 241);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
//