:root {
    $sm: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@mixin flexy($justify, $align, $dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

body {
    background-color: rgb(41, 41, 41);
    @include flexy(center, center, column);

    header {
        @include flexy(center, center, column);
        @include widthHeight(100%, 60px);
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 0;

        h1 {
            color: white;
        }

        p {
            color: rgb(240, 238, 238);
            font-weight: 400
        }
    }

    main {
        @include flexy(center, center, column);
        @include widthHeight(100%, 100%);
        padding-top: 80px;

        #canvas {
            @include widthHeight(400px, 400px);
            border: 1px solid white;
            box-shadow: 0 0 10px 0 rgba(179, 179, 179, 0.356);
            display: grid;
        }

        label {
            color: white;
            font-size: 18px;
        }

        input {
            outline: none;
            padding: 4px 8px;
            color: white;
            background-color: transparent;
            border: 1px solid white;
            font-size: 18px;
            width: 70px;
            height: auto;
            border-radius: 4px;
        }

        input::placeholder {
            font-weight: 300;
            font-style: italic;
        }

        button {
            background-color: white;
            color: rgb(41, 41, 41);
            border: 1px solid transparent;
            font-size: 18px;
            border-radius: 4px;
            padding: 4px 8px;
            margin-top: 16px;
            outline: none;
        }

        button:hover {
            cursor: pointer;
            background-color: rgb(219, 219, 219);
        }

        button:active {
            background-color: rgb(170, 170, 170);
        }
    }
}