* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@mixin flexy($justify, $align, $dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

body {
    background-color: rgb(41, 41, 41);
    @include widthHeight(100vw, 100vh);
    @include flexy(flex-start, center, column);

    header {
        @include widthHeight(100%, fit-content);
        @include flexy(center, center, column);
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 0;

        h1 {
            color: white;
        }

        p {
            color: rgb(240, 238, 238);
            font-weight: 400
        }
    }

    main {
        @include widthHeight(100%, 100%);
        @include flexy(center, center, column);
        padding-top: 60px;

        #canvas {
            @include widthHeight(400px, 400px);
            border: 1px solid white;
            box-shadow: 0 0 10px 0 rgba(179, 179, 179, 0.356);
            display: grid;
            grid-template-columns: repeat(100, 1fr);
            grid-template-rows: repeat(100, 1fr);

            .tile {
                border-radius: 50%;
            }

            .tile:active {
                background-color: white;
            }
        }

        button {
            background-color: white;
            color: rgb(41, 41, 41);
            border: 1px solid transparent;
            font-size: 18px;
            border-radius: 4px;
            padding: 4px 8px;
            margin-top: 16px;
            outline: none;
        }

        button:hover {
            cursor: pointer;
            background-color: rgb(219, 219, 219);
        }

        button:active {
            background-color: rgb(170, 170, 170);
        }
    }
}

@media screen and (max-width: 1000px) {
    #canvas {
        @include widthHeight(200px, 200px);
    }
}